<form method="post" action="/travel/countries">
  <label for="name-field">name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%= @country.name %>"
  />

  <input type='submit' value="Edit country name">
</form>
