<p><%= @country.name%></p>
<p><a href="/travel/countries/:id/edit/<%= @country.id %>/edit">Edit Country</a></p>
<form method="post" action="/travel/countries/<%= @country.id %>/delete">
  <input type="submit" value="Remove country"/>
</form>
