<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>travel</title>
  </head>
  <body>
    <h1>My Travel Journey</h1>
    <h1><a href="/travel">Home</a></h1>

    <%= yield%>
  </body>
</html>
