<form action='/travel/countries/new' method="post">
  <label for = "name"> Enter Country</label>
  <input id = "name" type = "text" name = "name"/>
  <input type="submit" value="Add to the list">
</form>
